.markdown-body blockquote {
  border-left: 0px hidden #FFFFFF;
  padding: 0 15px;
  color: #777;
}
blockquote {
    padding: 9px 18px;
    margin: 0 0 18px;
    font-size: 15px; /*This was 16.25*/
    border-left: 5px solid #dddddd
}